body{
    background: url("img/mainFon.png");
    background-size: cover;
}


/*-------------------------main part-------------------------*/


#mainWrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    /*justify-content: space-between;*/
    align-items: center;
    height: 80%;
    top: 10%;
    width: 99%;
    /*left: 4%;*/
}


/*-------------------------SVG-------------------------*/


#svgWrapper{
    position: relative;
    background-color: rgb(250, 237, 225); /*250,237,222*/
    height: 100%;
    width: 40vw;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid  rgba(84, 57, 32, 0.7);
}
#svgWrapper svg{
    position: relative;
}
.core-text{
    fill: rgb(125, 75, 29);
    font-family: "Comic Sans MS";
}


/*-------------------------answer anime-------------------------*/

#answer{
    position: relative;
    /*display: flex;*/
    width: 30vw;
    margin-left: 2vw;
    margin-right: 2vw;
}
#answerAnime{
    position: relative;
    width: 100%;
    z-index: 1;
}
#textCloud{
    position: absolute;
    left: 49%;
    top: 5%;
    width: 45%;
    color: rgb(26, 66, 62);
    font-family: "Comic Sans MS";
    text-align: center;
    vertical-align: center;
    z-index: 1;
}
.erotic{
    position: absolute;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: transparent;
}
#titsControl {
    left: 57%;
    top: 58%;
    width: 11%;
    height: 9%;
    z-index: 10;
}
#leftJopaControl {
    width: 21%;
    height: 16%;
    left: 23%;
    top: 74%;
    z-index: 10;
}
#rightJopaControl {
    width: 15%;
    height: 15%;
    top: 76%;
    left: 36%;
    z-index: 10;
}
#tyankaHead {
    width: 32%;
    height: 20%;
    left: 30%;
    top: 31%;
    z-index: 10;
}
/*-------------------------form-------------------------*/
#formWrapper{
    position: relative;
    display: flex;
    width: 24vw;
    background-color: rgb(250, 237, 225);
    height: 300px;
    border-radius: 15px;
    border: 4px solid rgba(59, 43, 20, 0.7) ;
}
#form{
    width: 100%;
}
#formWrapper h3{
    color: rgb(125, 75, 29);
    width: 100%;
    text-align: center;
    font-family: "Comic Sans MS";
}
.sendClearWrapper{
    position: relative;
    left: 50%;
    margin-left: -125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
}
.commandButtons {
    position: relative;
    height: 36px;
    width: 120px;
    background-color: rgb(250, 237, 225);
    border-radius: 7px;
    border: 4px solid rgba(59, 43, 20, 0.7);
    font-family: "Comic Sans MS";
    font-size: 1.1em;
    color: rgb(125, 75, 29);
    outline: none;
}
.commandButtons:hover{
    background-color: rgb(59, 43, 20);
    color: rgb(250, 237, 225);
}
.inputY{
    position: relative;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    height: 30px;
    border-radius: 7px;
    border: 3px solid rgb(125, 75, 29);
    background-color: rgba(250, 92, 111, 0.3);
    color: rgb(125, 75, 29);
    font-family: "Comic Sans MS";
    font-size: 1.1em;
    font-weight: 800;
    outline: none;
}
.inputY::placeholder {
    font-family: "Comic Sans MS";
    color: rgb(177, 227, 221);
}
.slider {
    font-family: "Comic Sans MS";
    font-size: 1.1em;
    color: palevioletred;
    width: 184px;
    position: relative;
    left: 50%;
    margin-left: -92px;
}